@import "tailwindcss";

@font-face {
  font-family: 'Beleren';
  src: url('../public/fonts/Beleren2016-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Beleren', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Ensure headings use it as well */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Beleren', sans-serif;
}